.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important; }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

[data-drag-container] {
  min-width: 20px;
  min-height: 20px; }

body {
  padding-left: 10px;
  padding-right: 10px; }

@media only screen and (min-width: 43.813em) {
  .sidebar {
    width: 25%;
    width: calc(200px);
    float: left; }
  .main {
    width: 75%;
    width: calc(100% - 200px);
    float: left; } }

.form-group table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  border-radius: 3px;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  border-collapse: separate; }
  .form-group table th {
    padding: 4px 10px; }
  .form-group table td {
    padding: 0; }
.form-group th, .form-group td {
  min-width: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.form-group th {
  font-size: 11px;
  font-weight: 400;
  color: #999;
  background: #fafafa;
  background-image: linear-gradient(#fff, #fafafa); }
.form-group td {
  font-size: 13px;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.07); }
  .form-group td:first-child {
    border-left: 0; }
  .form-group td input, .form-group td textarea {
    width: 100%;
    margin: 0;
    border: 0;
    resize: none;
    height: 34px;
    padding: 7px 10px;
    line-height: 16px;
    outline: none; }
    .form-group td input:focus, .form-group td textarea:focus {
      box-shadow: 0 0 2px 1px rgba(0, 158, 255, 0.25); }
  .form-group td input[type="checkbox"], .form-group td input[type="radio"] {
    width: initial;
    height: initial;
    padding: 0;
    margin: 0 1em;
    border: initial;
    -webkit-appearance: checkbox; }
  .form-group td input[type="radio"] {
    -webkit-appearance: radio; }
.form-group .add-row {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  display: block;
  -webkit-appearance: none;
  padding: 8px 10px 4px;
  border: 1px dashed rgba(0, 0, 0, 0.25);
  border-top: 0;
  background: #fff;
  transition: background .2s;
  cursor: pointer; }
  .form-group .add-row:hover, .form-group .add-row:focus {
    outline: 0;
    background: #fafafa; }

.well {
  width: 300px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  border: 1px dashed #aaa;
  margin: 36px 4px 16px; }
  .well.is-active {
    border-style: solid; }
  .well-heading {
    position: absolute;
    top: -36px;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    color: #6a6a6a;
    border: 1px dashed #aaa;
    border-bottom: 1px solid #fff; }
    .is-active .well-heading {
      border-style: solid; }
  .well-card {
    background: #ccc;
    border-radius: 3px;
    padding: 8px;
    list-style-type: none;
    cursor: pointer; }
    .well-card + .well-card {
      margin-top: 8px; }

.fp-select {
  margin-bottom: 1.5em; }


/*# sourceMappingURL=screen.css.map */