/**
 * SASS File: 		import.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	2 October 2014
 */
/**
 * SASS File: 		_global.scss
 * Author:        	Chris Humboldt
 * Last Edited:   	24 September 2014
 */
/**
 * SASS File: 		_import.scss
 * Type: 			importer
 * Author:        	Chris Humboldt
 * Last Edited:   	14 August 2014
 */
/**
 * SASS File: 		_functions.scss
 * Type: 			development
 * Author:        	Chris Humboldt
 * Last Edited:   	6 August 2014
 */
/**
 * SASS File: 		_mixins.scss
 * Type: 			development
 * Author:        	Chris Humboldt
 * Last Edited:   	9 August 2014
 */
/**
 * SASS File: 		_animation.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	12 July 2014
 */
/**
 * SASS File: 		_arrow.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	29 July 2014
 * Based on: 		http://cssarrowplease.com/
 */
/**
 * SASS File: 		_background.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	1 September 2014
 */
/**
 * SASS File: 		_border.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	6 August 2014
 */
/**
 * SASS File: 		_breakpoint.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	6 August 2014
 */
/**
 * SASS File: 		_colour.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	2 September 2014
 */
/**
 * SASS File: 		_display.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	11 August 2014
 */
/**
 * SASS File: 		_drop-shadow.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	29 July 2014
 */
/**
 * SASS File: 		_global.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 May 2014
 */
/**
 * SASS File: 		_gradient.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	6 August 2014
 */
/**
 * SASS File: 		_input_types.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	13 May 2014
 */
/**
 * SASS File: 		_ios.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */
/**
 * SASS File: 		_layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */
/**
 * SASS File: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	4 December 2014
 */
/**
 * SASS File: 		_size.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	1 September 2014
 */
/**
 * SASS File: 		_spacing.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	1 September 2013
 */
/**
 * SASS File: 		_text.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 October 2014
 */
/**
 * SASS File: 		_transform.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	18 August 2014
 * Edited by: 		Chris Humboldt
 */
/**
 * SASS File: 		_background.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	1 September 2014
 */
/**
 * SASS File: 		_display.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */
/**
 * SASS File: 		_global.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	13 May 2014
 */
/**
 * SASS File: 		_layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */
/**
 * SASS File: 		_position.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */
/**
 * SASS File: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	25 September 2014
 */
/**
 * SASS File: 		_sizing.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */
/**
 * SASS File: 		_spacing.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2013
 */
/**
 * SASS File: 		_text.scss
 * Requires: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */
/**
 * SASS File: 		_execute.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	17 August 2014
 */
/**
 * SASS File: 		_import.scss
 * Type: 			importer
 * Author:        	Chris Humboldt
 * Last Edited:   	12 July 2014
 */
/**
 * SASS File: 		_drop-down.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	25 September 2014
 */
/**
 * SASS File: 		_setup.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 May 2014
 */
@font-face {
  font-family: 'buttonplate';
  src: url('icon-font-buttonplate/icomoon.eot?c4hmew');
  src: url('icon-font-buttonplate/icomoon.eot?#iefixc4hmew') format('embedded-opentype'), url('icon-font-buttonplate/icomoon.woff?c4hmew') format('woff'), url('icon-font-buttonplate/icomoon.ttf?c4hmew') format('truetype'), url('icon-font-buttonplate/icomoon.svg?c4hmew#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/**
 * SASS File: 		_shape.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	4 December 2014
 */
/**
 * SASS File: 		_size.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	4 December 2014
 */
/**
 * SASS File: 		_style.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	4 December 2014
 */
/**
 * SASS File: 		_execute.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 August 2014
 */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important; }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

.gu-mirror {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

[data-drag-container] {
  min-width: 20px;
  min-height: 20px; }

.input-card {
  margin: 1em 0;
  padding: 12px;
  list-style-type: none;
  background: #e6e6e6; }

.formplate table {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  border-radius: 3px;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
  border-collapse: separate; }
  .formplate table th {
    padding: 4px 10px; }
  .formplate table td {
    padding: 0; }
.formplate th, .formplate td {
  min-width: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.formplate th {
  font-size: 11px;
  font-weight: 400;
  color: gray;
  background: #fafafa;
  background-image: linear-gradient(#fff, #fafafa); }
.formplate td {
  font-size: 13px;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.07); }
  .formplate td:first-child {
    border-left: 0; }
  .formplate td textarea {
    margin: 0;
    border: 0;
    resize: none;
    height: 34px;
    padding: 7px 10px;
    line-height: 16px; }
    .formplate td textarea:focus {
      box-shadow: 0 0 2px 1px rgba(0, 158, 255, 0.25); }
  .formplate td input[type="checkbox"], .formplate td input[type="radio"] {
    width: initial;
    height: initial;
    padding: 0;
    margin: 0 1em;
    border: initial;
    -webkit-appearance: checkbox; }
  .formplate td input[type="radio"] {
    -webkit-appearance: radio; }
.formplate .add-row {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  display: block;
  -webkit-appearance: none;
  padding: 8px 10px 4px;
  border: 1px dashed rgba(0, 0, 0, 0.25);
  border-top: 0;
  background: #fff;
  transition: background .2s;
  cursor: pointer; }
  .formplate .add-row:hover, .formplate .add-row:focus {
    outline: 0;
    background: #fafafa; }

.fp-select {
  margin-bottom: 1.5em; }


/*# sourceMappingURL=screen.css.map */